@import 'resetcss.css';
@font-face {
    font-family: hack;
    src: url("../assets/hack.ttf");
}
body{
    background: black url("../assets/images/bg.jpg") right top;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    align-items: center;
    font-family: arial, verdana, sans-serif;
}
h2{
    font-family: hack, arial, verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
#topcontent{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    box-sizing: border-box;

    background-color: transparent;

    padding: 15px;
}
#topcontentname{
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    
    min-width: 300px;
    min-height: 300px;
    
    color:black;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px 2px white;
    border-radius: 60px 120px;
}
#name{
    position: absolute;
    top: 30px;
    width: 90%;
    z-index: 1;
    
    font-family: hack, arial, verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 1px 1px black;
}
#photocontainer{
    display:flex;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    position: absolute;
    align-items: center;
}
#profilephoto{
    position: absolute;
    left: 30px;
    top: 70px;
    width: 50%;
    border-radius: 30px 60px 30px 100px;
}
#logo{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    height: 80px;
    top: 130px;
    right: 30px;
    
    border-radius: 10px 10px 10px 10px;
}
#topcontentprofile{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);

    font-size: 1.2em;

    border-radius: 60px 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px 2px white;
    border-radius: 30px 60px;
    margin: 30px 30px 30px 30px;
    padding: 15px 30px;
}
#topcontentprofile p{
    line-height: 1.3em;
    text-indent: 20px;
    text-align: justify;
}
#techs{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-around;

    margin: 20px 0px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px white;
}
#techs h2{
    width: 100%;
    margin: 10px;
    text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 1px 1px black;
}
.tech-item{
    position: relative;
    box-sizing: border-box;
    text-align: center;

    width: 120px;
    height: 150px;
    margin: 15px;
    
    color:rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 10px 2px white;
    border-radius: 15px 30px;

    cursor:crosshair;
}
.tech-item p {
    background-color: rgb(0, 97, 161);
    color:white;
    width: auto;
    font-weight: bold;

    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgb(0, 97, 161);

    padding: 5px;
    margin: 10px
}
.tech-item img{
    height: 85px;
    width: 100%;
}

#footer{
    min-height: 20px;
    width: 90%;

    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 10px;

    padding: 5px;

    color: white;
    background-color: rgba(0, 0, 0, 0.726);
    border: 2px solid gray;;
    border-radius: 10px 20px;
}
#footer a{
    color: white;
}
#footer a:visited {
    color: white;
}

@media (max-width: 800px){
    #topcontent{
        flex-direction: column;
    }
}